#head {
    background-color: rgb(139, 7, 7);
}

#headp {
    text-align: center;
    padding: 15px;
}

/**
#signin {
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
}
**/

#signin {
    margin: 0 auto;
    width: 400px;
    padding-top: 100px;
    background-color: rgb(240, 240, 240);
}

html {
    background-color: rgb(255, 255, 255);
}
